<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%=title%></title>
    <meta name="description" content="<%=title%>">
    <meta name="keywords" content="<%=title%>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-title" content="<%=title%>" />
    <link rel="stylesheet" href="/static/css/amazeui.min.css">
    <link rel="stylesheet" href="/static/css/amazeui.datatables.min.css" />

</head>

<body>
    <div class="am-g" style="margin: 20px 0px;">
        <div class="am-u-sm-12">
          <label>
            ［<%=semester%>］签到信息
          </label>
        </div>
        <div class="am-u-sm-12">
            <div id="info" class="am-scrollable-vertical" style="margin: 10px 0px;">
                <table class="am-table am-table-bordered am-table-centered am-table-striped am-table-bordered am-table-compact am-text-nowrap" width="100%">
                    <thead>
                        <tr>
                            <th class="table-id">序号</th>
                            <th class="table-date">学员姓名</th>
                            <th class="table-date">身份证号</th>
                            <th class="table-date">手机号</th>
                            <th class="table-date">ERP编号</th>
                            <th class="table-date">手写签名</th>
                            <th class="table-date">签到日期</th>
                            <th class="table-date">操作</th>
                        </tr>
                    </thead>
                    <tbody id="classInfos">
                      <% if(datas.length) {%>
                        <% datas.forEach(function(val,i){%>
                        <tr id="<%= val._id%>">
                            <td class="table-id"><%= i+1 %></td>
                            <td class="table-date"><%= val.student_name %></td>
                            <td class="table-date"><%= val.id_number %></td>
                            <td class="table-date"><%= val.phone_number %></td>
                            <td class="table-date"><%= val.erp_number %></td>
                            <%if(val.signature){%>
                            <td class="table-date"><img src="<%= val.signature?val.signature:""%>" style="width:100px;height:50px;"></img></td>
                            <% } else {%>
                            <td class="table-date"></td>
                            <% } %>
                            <td class="table-date"><%= dataFormat(val.updated_at,'YYYY-MM-DD') %></td>
                            <td class="table-date">
                                <button type="button" class="am-btn am-btn-warning am-round" onclick="deleteSig('<%= val._id%>','<%= val.student_name%>');">撤销签名</button>
                            </td>
                        </tr>
                        <% }) %>
                      <% } else {%>
                        <tr>
                         <td colspan="9" class="am-text-middle">
                           暂无查询到该班签到学员信息
                         </td>
                        <tr>
                      <% }%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/amazeui.min.js"></script>
<script src="/static/js/amazeui.datatables.min.js"></script>
<script src="/static/js/dataTables.responsive.min.js"></script>
<script src="/static/js/signatureManager.js"></script>

</html>
